<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
      </div>
      <div class='card-body'>
        <p>
        Disclaimer: This company is completely fictional and sells random products. This webpage is not to be taken too seriously, as it is intended to be
          a learning exercise.
          <br>Angular is an interesting web framework. I'm curious why it was made like this.
        </p>
        <h5>Here is a picture of a completely unrelated group of people that have nothing to do with the company. </h5>
        <img [src]='companyImg'
        class="img-responsive center-block"
        style="height: 600px; 
        padding-bottom:5px" />
        </div>
</div>